@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap&family=Roboto:wght@300;400&display=swap");

:root {
  --primary-background: #202225;
  --secondary-background: #2f3136;
  --card-background: #3a3c42;
  --title-text: #809bff;
  --primary-text: #fff;
  --secondary-text: #dcddde;
  --tertiary-text: #7d8088;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #202225;
  color: var(--primary-text);
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 400;
  height: 100%;
}

ul {
  list-style-type: none !important;
}

li {
  list-style-type: none !important;
}

a {
  text-decoration: none;
}

h1 {
  color: var(--title-text);
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  margin: 0;
}

i {
  color: var(--secondary-text);
}

i:hover {
  color: var(--primary-text);

  cursor: pointer;
}

.modal {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content,
.signup-form-content,
.login-form-content {
  background: var(--secondary-background);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 30%;
  padding: 2rem;
  box-shadow: 0 2px 4.1px -43px rgba(0, 0, 0, 0.101),
    0 4.7px 13.8px -43px rgba(0, 0, 0, 0.129),
    0 20px 62px -43px rgba(0, 0, 0, 0.18);

  border-radius: 6px;
}

.modal-header {
  padding: 1rem 1rem 0;
}

.modal-header p {
  font-weight: 300;
}

.modal-body,
.signup-form-body,
.login-form-body {
  padding: 1rem 1rem 0;
}

.modal-body form,
.signup-form-body form,
.login-form-body form {
  display: flex;
  flex-direction: column;
}

.modal-body input,
.modal-body textarea {
  padding: 1rem;
  margin-bottom: 0.5rem;
  border: 1px solid rgba(128, 127, 127, 0.2);
  border-radius: 6px;
  background: #18191b;
  color: var(--primary-text);
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.modal-footer {
  color: var(--primary-text);
  margin: 0.5rem 0.5rem 0 0;
  background: transparent;
}

.modal-footer {
  cursor: pointer;
}

.signup-form-header,
.login-form-header {
  text-align: center;
  margin-bottom: 1rem;
}

.signup-form-header h1,
.login-form-header h1 {
  margin-bottom: 1rem;
}

.signup-form-body .input-area,
.login-form-body .input-area {
  display: flex;
  flex-direction: column;
}

.signup-form-body input,
.login-form-body input {
  padding: 0.7rem;
  margin: 0.3rem 0 0.5rem 0;
  border: 1px solid rgba(128, 127, 127, 0.2);
  border-radius: 6px;
  background: #18191b;
  color: var(--primary-text);
  font-size: 1rem;
}
.signup-form-body p {
  text-align: center;
  margin-top: 1rem;
}

.nav {
  background: var(--secondary-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.fa-chess-knight {
  color: var(--secondary-background);
  background: var(--secondary-text);
  padding: 8px 8px;
  border-radius: 50%;
}

.fa-chess-knight:hover {
  background: var(--primary-text);
  color: var(--secondary-background);
}

.user-menu-container {
  background: #18191b;
  position: absolute;
  top: 3rem;
  right: 0;
  padding: 1rem;
  width: 12rem;
  z-index: 100;
}

.user-menu-container p:hover {
  cursor: pointer;
}

.show {
  display: block;
}

.user-menu li:not(:first-child) {
  margin-top: 1rem;
}

.user-menu li:first-child {
  margin-bottom: 2rem;
}

.user-menu hr {
  margin-top: 1rem;
}

.user-menu a {
  text-decoration: none;
  color: var(--primary-text);
}

.challenge-container {
  background: var(--secondary-background);
  padding: 2.9rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.05),
    0 6.7px 5.3px rgba(0, 0, 0, 0.06), 0 12.5px 10px rgba(0, 0, 0, 0.07);
  margin-right: 1rem;
  font-weight: 300;
}

.challenge-header h1 {
  color: var(--primary-text);
}

.challenge-container {
  flex-grow: 1;
}

iframe {
  margin: 1.5rem 0 1rem;
  width: 100%;
  height: 400px;
}

.discussion-area {
  background: var(--secondary-background);
  padding: 0.5rem;
  border-radius: 6px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 900px;
  flex-grow: 1;
}

.discussion-header-container {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  margin-bottom: 1rem;
  padding: 3rem 1rem 0;
}

.discussion-header-container button {
  margin-top: auto;
  margin-left: auto;
}

.discussion-header-container.thread {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.discussion-header-container.thread button {
  margin-right: 100%;
  margin-top: 1.5rem;
}

.questions-container,
.comments-container {
  overflow-y: auto;
  overflow-x: hidden;
}

.questions-container::-webkit-scrollbar,
.comments-container::-webkit-scrollbar,
.account-div::-webkit-scrollbar {
  width: 1.32rem;
}

.questions-container::-webkit-scrollbar-track {
  background: #18191b;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.comments-container::-webkit-scrollbar-track {
  background: #18191b;

  border-bottom-right-radius: 6px;
}

.questions-container::-webkit-scrollbar-thumb,
.comments-container::-webkit-scrollbar-thumb,
.account-div::-webkit-scrollbar-thumb {
  background-color: var(--card-background);
  border: 4px solid transparent;
  border-radius: 10px;
  background-clip: content-box;
}

.questions-thread {
  display: flex;
  flex-direction: column;
}

.comment-header {
  display: flex;
  font-size: 0.9rem;
}

.name {
  margin-right: 1rem;
  font-weight: 300;
  font-size: 0.92rem;
  color: var(--secondary-text);
}

.created-at {
  color: var(--tertiary-text);
}

.icons {
  margin-left: auto;
}

.comment-body {
  padding: 0.5rem 0;
  font-size: 1rem;
  word-spacing: 0.03rem;
}

.view-thread {
  margin-left: auto;
}

.view-thread a {
  color: #809bff;
  font-size: 0.9rem;
  font-family: "Roboto Slab", Times, serif;
  font-weight: 500;
}

.comments-container {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

@media all and (max-width: 1540px) {
  iframe {
    height: 395px;
  }

  .modal-content,
  .signup-form-content,
  .login-form-content {
    width: 45%;
  }
}

@media all and (max-width: 1045px) {
  .modal-content,
  .signup-form-content,
  .login-form-content {
    width: 50%;
  }

  .challenge-container {
    margin-right: 0;
  }

  .discussion-area {
    overflow: visible;
    margin-bottom: 1rem;
  }

  .challenge-container {
    width: 100%;
    margin-bottom: 1rem;
  }
}

@media all and (max-width: 900px) {
  .modal-content,
  .signup-form-content,
  .login-form-content {
    width: 65%;
  }

  iframe {
    height: 360px;
  }

  .discussion-header-container {
    padding: 3rem 0.5rem 0;
  }

  .questions-container::-webkit-scrollbar,
  .comments-container::-webkit-scrollbar {
    width: 0px;
  }
}

@media all and (max-width: 620px) {
  h1 {
    font-size: 1.3rem;
  }

  h4 {
    font-size: 0.95rem;
  }

  .modal-content {
    width: 90%;
    padding: 1rem;
    top: 40%;
    left: 35%;
    transform: translate(-34%, -35%);
  }

  .signup-form-content,
  .login-form-content {
    width: 90%;
    padding: 0.5rem;
  }

  .modal-footer {
    padding-bottom: 0.5rem;
    margin: 0;
  }

  .modal-header h1 {
    font-size: 1.5rem;
  }

  .signup-form-header h1,
  .login-form-header h1 {
    margin: 0;
    padding: 0.5rem;
    font-size: 1.7rem;
  }

  .signup-form-body,
  .login-form-body {
    padding-bottom: 0.5rem;
  }

  iframe {
    height: 220px;
    margin-bottom: 0.5rem;
  }

  .challenge-container {
    padding: 1rem;
    border-radius: 0;
  }

  .discussion-area,
  .discussion-header-container {
    margin: 0 0 0.5rem;
    padding: 0.5rem;
    border-radius: 0;
  }

  .discussion-area {
    width: 100%;
    height: 100%;
  }

  .discussion-header-container.thread button {
    margin: 0.7rem 0 0;
  }
}

@media screen and (orientation: landscape) and (min-device-width: 319px) and (max-device-width: 900px) {
  .modal-content,
  .signup-form-content,
  .login-form-content {
    width: 70%;
  }
}
