@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap&family=Roboto:wght@300;400&display=swap");

:root {
  --primary-background: #202225;
  --secondary-background: #2f3136;
  --card-background: #3a3c42;
  --title-text: #809bff;
  --primary-text: #fff;
  --secondary-text: #dcddde;
  --tertiary-text: #7d8088;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #202225;
  color: var(--primary-text);
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 400;
  height: 100%;
}

ul {
  list-style-type: none !important;
}

li {
  list-style-type: none !important;
}

a {
  text-decoration: none;
}

h1 {
  color: var(--title-text);
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  margin: 0;
}

i {
  color: var(--secondary-text);
}

i:hover {
  color: var(--primary-text);

  cursor: pointer;
}

.fa-chess-knight {
  color: var(--secondary-background);
  background: var(--secondary-text);
  padding: 8px 8px;
  border-radius: 50%;
}

.fa-chess-knight:hover {
  background: var(--primary-text);
  color: var(--secondary-background);
}

.show {
  display: block;
}

.discussion-area {
  background: var(--secondary-background);
  padding: 0.5rem;
  border-radius: 6px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 900px;
  flex-grow: 1;
}

.discussion-header-container {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  margin-bottom: 1rem;
  padding: 3rem 1rem 0;
}

.discussion-header-container button {
  margin-top: auto;
  margin-left: auto;
}

.discussion-header-container.thread {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.discussion-header-container.thread button {
  margin-right: 100%;
  margin-top: 1.5rem;
}

.questions-container,
.comments-container {
  overflow-y: auto;
  overflow-x: hidden;
}

.account-div::-webkit-scrollbar {
  display: none;
}

.questions-container::-webkit-scrollbar,
.comments-container::-webkit-scrollbar {
  width: 1.32rem;
}

.questions-container::-webkit-scrollbar-track {
  background: #18191b;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.comments-container::-webkit-scrollbar-track {
  background: #18191b;
  border-bottom-right-radius: 6px;
}

.questions-container::-webkit-scrollbar-thumb,
.comments-container::-webkit-scrollbar-thumb {
  background-color: var(--card-background);
  border: 4px solid transparent;
  border-radius: 10px;
  background-clip: content-box;
}

.questions-thread {
  display: flex;
  flex-direction: column;
}

.comment-header {
  display: flex;
  font-size: 0.9rem;
}

.name {
  margin-right: 1rem;
  font-weight: 300;
  font-size: 0.92rem;
  color: var(--secondary-text);
}

.created-at {
  color: var(--tertiary-text);
}

.icons {
  margin-left: auto;
}

.comment-body {
  padding: 0.5rem 0;
  font-size: 1rem;
  word-spacing: 0.03rem;
}

.view-thread {
  margin-left: auto;
}

.view-thread a {
  color: #809bff;
  font-size: 0.9rem;
  font-family: "Roboto Slab", Times, serif;
  font-weight: 500;
}

.comments-container {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

@media all and (max-width: 1045px) {
  .discussion-area {
    overflow: visible;
    margin-bottom: 1rem;
  }
}

@media all and (max-width: 900px) {
  .discussion-header-container {
    padding: 3rem 0.5rem 0;
  }

  .questions-container::-webkit-scrollbar,
  .comments-container::-webkit-scrollbar {
    width: 0px;
  }
}

@media all and (max-width: 620px) {
  h1 {
    font-size: 1.3rem;
  }

  h4 {
    font-size: 0.95rem;
  }

  .discussion-area,
  .discussion-header-container {
    margin: 0 0 0.5rem;
    padding: 0.5rem;
    border-radius: 0;
  }

  .discussion-area {
    width: 100%;
    height: 100%;
  }

  .discussion-header-container.thread button {
    margin: 0.7rem 0 0;
  }
}
